.ant-divider-inner-text {
  display: inline-block;
  padding: 0 24px;
  color: #000;
  font-size: 23px;
  font-weight: bold;
}

.ant-col-12 {
  text-align: justify;
  padding: 5px 15px!important;
}

.ant-timeline-item-content {
  color: #fff;
}

